<StackLayout
  class="bg-white p-5 rounded-2xl border border-base-200 box-shadow-1 space-y-4 mt-4"
>
  <FlexboxLayout class="items-center justify-between">
    <Label class="font-bold text-neutral" text="Mahlzeitenprotokoll"></Label>
    <!-- <Label class="text-xs text-gray-400" text="Tippe für Details"></Label> -->
  </FlexboxLayout>
  @if (loading()) {
    <ActivityIndicator busy="true" class="text-primary"></ActivityIndicator>
  } @else {
    <StackLayout class="space-y-3">
      @for (meal of mealSections(); track meal.key) {
        <StackLayout
          class="border border-base-200 rounded-2xl overflow-hidden bg-base-100"
        >
          <GridLayout
            columns="auto, *, auto"
            class="items-center px-4 py-4 space-y-4"
          >
            <FlexboxLayout
              col="0"
              class="w-12 h-12 rounded-full bg-base-200 items-center justify-center mr-3"
            >
              <svg:SVGImage
                [src]="meal.icon | svgToDataUri: '#4A6C6F'"
                class="w-6 h-6"
              ></svg:SVGImage>
            </FlexboxLayout>
            <StackLayout
              (tap)="openMealDetail(meal.key)"
              col="1"
              class="space-y-1"
            >
              <FlexboxLayout>
                <StackLayout class="flex items-center justify-between">
                  <Label
                    class="font-semibold text-neutral text-base"
                    [text]="meal.label"
                  ></Label>
                  <Label
                    class="font-semibold text-neutral text-base"
                    [text]="meal.calories + ' kcal'"
                  ></Label>
                </StackLayout>
                <!-- <FlexboxLayout class="items-center">
            <svg:SVGImage [src]="icons.ChevronRight | svgToDataUri: '#94A3B8'" class="w-7 h-7"></svg:SVGImage>
            </FlexboxLayout> -->
              </FlexboxLayout>
            </StackLayout>
            <FlexboxLayout col="2" class="items-center space-x-2">
              <FlexboxLayout
                class="flex w-11 h-11 bg-primary rounded-full flex items-center justify-center text-white shadow-lg transform active:scale-95 transition-transform z-10"
                (tap)="onAddMeal(meal.key)"
              >
                <svg:SVGImage
                  [src]="icons.Plus | svgToDataUri: 'white'"
                  class="w-6 h-6 font-bold"
                ></svg:SVGImage>
              </FlexboxLayout>
            </FlexboxLayout>
          </GridLayout>
        </StackLayout>
      }
    </StackLayout>
  }
</StackLayout>
