<GridLayout
  rows="auto,*,auto"
  class="absolute inset-0 bg-base-100 z-30 flex flex-col animate-fade-in0"
>
  <ActionBar row="0" class="bg-base-100 text-neutral" title="">
    <NavigationButton
      ios.position="left"
      android.position="actionBar"
      (tap)="closeDetailView()"
    />
    <ActionItem
      ios.position="right"
      android.position="actionBar"
      (tap)="toggleCookbook()"
    >
      <FlexboxLayout class="items-center justify-center p-2 bg-transparent">
        <svg:SVGImage
          [src]="heartIconSvg() | svgToDataUri"
          class="w-6 h-6"
        ></svg:SVGImage>
      </FlexboxLayout>
    </ActionItem>
  </ActionBar>
  <ScrollView row="1">
    <StackLayout class="flex-grow overflow-y-auto p-4 space-y-6">
      <!-- Recipe Name and Servings -->
      <StackLayout class="mb-4">
        <Label textWrap="true">
          <FormattedString>
            <Span
              class="text-lg font-bold text-neutral truncate"
              [text]="displayRecipe()?.name"
            ></Span>
          </FormattedString>
        </Label>
        <FlexboxLayout flexDirection="row" alignItems="center">
          <svg:SVGImage
            [src]="icons.Users | svgToDataUri: '#6B7280'"
            class="w-4 h-4 mr-2"
          ></svg:SVGImage>
          <Label
            class="text-sm text-gray-500"
            [text]="
              (displayRecipe()?.servings ?? 0) +
              ((displayRecipe()?.servings ?? 0) > 1 ? ' Personen' : ' Person')
            "
          ></Label>
        </FlexboxLayout>
      </StackLayout>

      <StackLayout
        class="list-disc list-inside space-y-1 text-sm text-neutral bg-white p-4 rounded-lg border border-base-200"
      >
        <Label
          class="font-bold text-lg text-neutral mb-2"
          text="Zutaten"
        ></Label>
        @for (ingredient of displayRecipe()?.ingredients; track ingredient) {
          <Label
            class="font-semibold"
            [text]="
              '• ' +
              ingredient.amount +
              ' ' +
              ingredient.unit +
              ' ' +
              ingredient.name
            "
          ></Label>
        }
      </StackLayout>
      <StackLayout
        class="space-y-1 text-sm text-neutral bg-white p-4 rounded-lg border border-base-200"
      >
        <Label
          class="font-bold text-lg text-neutral mb-2"
          text="Zubereitung"
        ></Label>
        @for (
          step of displayRecipe()?.instructions;
          track step;
          let i = $index
        ) {
          <GridLayout columns="auto,*" rows="auto" class="py-1">
            <Label
              col="0"
              class="font-semibold text-neutral mr-2"
              [text]="i + 1 + '.'"
              verticalAlignment="top"
            ></Label>
            <Label
              col="1"
              class="leading-relaxed text-neutral"
              [text]="step"
              textWrap="true"
              verticalAlignment="top"
            ></Label>
          </GridLayout>
        }
      </StackLayout>
    </StackLayout>
  </ScrollView>
  <FlexboxLayout
    row="2"
    justifyContent="space-around"
    class="p-4 border-t border-base-200 flex-shrink-0"
    [ngClass]="showSwapButton() ? 'grid grid-cols-2 space-x-3' : ''"
  >
    @if (showSwapButton()) {
      <FlexboxLayout
        (tap)="swappingMeal()"
        flexDirection="row"
        justifyContent="center"
        alignItems="center"
        class="flex w-full items-center justify-center gap-2 bg-base-200 text-neutral font-bold py-3 rounded-xl mr-2"
      >
        <svg:SVGImage
          [src]="icons.Shuffle | svgToDataUri"
          class="w-5 h-5 mr-2"
        ></svg:SVGImage>
        <Label text="Tauschen"></Label>
      </FlexboxLayout>
    }
    <FlexboxLayout
      (tap)="navigateToTransformRecipe()"
      flexDirection="row"
      justifyContent="center"
      alignItems="center"
      class="flex w-full items-center justify-center gap-2 bg-secondary/20 text-secondary-focus font-bold py-3 rounded-xl"
    >
      <svg:SVGImage
        [src]="icons.Wand2 | svgToDataUri: '#CA8A04'"
        class="w-5 h-5 mr-2"
      ></svg:SVGImage>
      <Label text="Anpassen"></Label>
    </FlexboxLayout>
  </FlexboxLayout>
</GridLayout>
