<FlexboxLayout
  class="items-center justify-between bg-base-200/50 p-3 rounded-2xl mt-4"
  accessibilityRole="header"
  accessibilityHint="Wechsle zwischen Tagen durch Wischen nach links oder rechts"
>
  <StackLayout class="p-2 rounded-full bg-base-100" (tap)="goToPreviousDay()">
    <svg:SVGImage
      [src]="icons.ArrowLeft | svgToDataUri: '#4A6C6F'"
      class="w-6 h-6"
    ></svg:SVGImage>
  </StackLayout>
  <StackLayout class="items-center">
    <Label
      class="font-bold text-neutral"
      [text]="dayLabel()"
      accessibilityLabel="Wochentag"
    ></Label>
    <Label
      class="text-xs text-gray-500"
      [text]="dateLabel()"
      accessibilityLabel="Datum"
    ></Label>
  </StackLayout>
  <StackLayout
    class="p-2 rounded-full bg-base-100"
    [class.opacity-40]="isToday()"
    (tap)="goToNextDay()"
  >
    <svg:SVGImage
      [src]="
        icons.ArrowRight | svgToDataUri: (isToday() ? '#CFD8DC' : '#4A6C6F')
      "
      class="w-6 h-6"
    ></svg:SVGImage>
  </StackLayout>
</FlexboxLayout>
