<Label class="font-bold text-sm text-neutral mb-2" text="Sammlungen"></Label>
<FlexboxLayout class="flex items-center space-x-2 overflow-x-auto pb-2 no-scrollbar">
    <Button (tap)="selectCollection('all')" text="Alle" class="px-3 py-1 text-sm rounded-full whitespace-nowrap"
        [class]="selectedCollectionId() === 'all' ? 'bg-primary text-white' : 'text-neutral'"></Button>
    @for(col of cookbookCollection(); track col.id) {
    <Button (tap)="selectCollection(col.id)" [text]="col.name" class="px-3 py-1 text-sm rounded-full whitespace-nowrap"
        [class]="selectedCollectionId() === col.id ? 'bg-primary text-white' : 'text-neutral'"></Button>
    }
</FlexboxLayout>