<GridLayout
  rows="auto,*,auto"
  iosOverflowSafeArea="true"
  class="flex flex-col h-full bg-base-100 no-scrollbar px-6 pt-6"
>
  <!-- Header -->
  <StackLayout row="0" class="mb-8">
    <FlexboxLayout
      flexDirection="row"
      alignItems="center"
      class="gap-2"
      (tap)="goToLogin()"
    >
      <Label text="←" class="text-neutral text-base mr-1"></Label>
      <Label text="Zurück zum Login" class="text-neutral text-base"></Label>
    </FlexboxLayout>
    <StackLayout class="text-center mt-4" horizontalAlignment="center">
      <Image
        src="~/assets/images/logo.ico"
        class="w-12 h-12 text-primary mx-auto mb-3"
      ></Image>
      <Label
        text="Konto erstellen"
        class="text-3xl font-serif font-bold text-neutral"
      ></Label>
      <Label
        text="Starte noch heute mit deiner Planung."
        class="text-gray-500 mt-1"
      ></Label>
    </StackLayout>
  </StackLayout>

  <!-- Form (statisch) -->
  <ScrollView class="space-y-4" row="1">
    <StackLayout class="space-y-4" width="90%" horizontalAlignment="center">
      <!-- Name -->
      <StackLayout class="flex justify-between items-center">
        <Label
          class="block text-sm font-bold text-neutral mb-1.5"
          text="Name"
        ></Label>
        <TextField
          class="w-full px-4 py-2.5 bg-base-200 border-2 border-transparent rounded-lg focus:outline-none focus:ring-2 focus:ring-primary transition-all duration-200 text-neutral"
          hint="Max Mustermann"
          autocapitalizationType="words"
          returnKeyType="next"
        >
        </TextField>
      </StackLayout>
      <!-- Email -->
      <StackLayout class="flex justify-between items-center">
        <Label
          class="block text-sm font-bold text-neutral mb-1.5"
          text="E-Mail"
        ></Label>
        <TextField
          class="w-full px-4 py-2.5 bg-base-200 border-2 border-transparent rounded-lg focus:outline-none focus:ring-2 focus:ring-primary transition-all duration-200 text-neutral"
          hint="deine.email@example.com"
          autocapitalizationType="none"
          keyboardType="email"
          returnKeyType="next"
        >
        </TextField>
        <!-- Example error message (static) -->
        <!-- <Label class="error" text="Bitte gib eine gültige E-Mail ein."></Label> -->
      </StackLayout>

      <!-- Password -->
      <StackLayout class="flex justify-between items-center mb-1.5">
        <Label
          text="Passwort"
          class="block text-sm font-bold text-neutral mb-1.5"
        ></Label>
        <TextField
          class="w-full px-4 py-2.5 bg-base-200 border-2 border-transparent rounded-lg focus:outline-none focus:ring-2 focus:ring-primary transition-all duration-200 text-neutral"
          hint="********"
          secure="true"
          returnKeyType="done"
        >
        </TextField>
        <!-- <Label class="error" text="Mindestens 6 Zeichen."></Label> -->
      </StackLayout>
      <!-- Confirm Password -->
      <StackLayout class="flex justify-between items-center mb-1.5">
        <Label
          text="Passwort bestätigen"
          class="block text-sm font-bold text-neutral mb-1.5"
        ></Label>
        <TextField
          class="w-full px-4 py-2.5 bg-base-200 border-2 border-transparent rounded-lg focus:outline-none focus:ring-2 focus:ring-primary transition-all duration-200 text-neutral"
          hint="********"
          secure="true"
          returnKeyType="done"
        >
        </TextField>
        <!-- <Label class="error" text="Mindestens 6 Zeichen."></Label> -->
      </StackLayout>

      <FlexboxLayout
        flexDirection="row"
        justifyContent="center"
        alignItems="center"
        (tap)="createAccount()"
        class="w-full mt-4 flex items-center justify-center gap-2 bg-primary text-white font-bold py-3 px-4 rounded-2xl hover:bg-primary-focus transition-all duration-300 disabled:bg-base-300"
      >
        <svg:SVGImage
          [src]="icons.UserPlus | svgToDataUri: 'white'"
          class="w-5 h-5 mr-2"
        ></svg:SVGImage>
        <Label text="Konto erstellen" class="text-white font-bold"></Label>
      </FlexboxLayout>
    </StackLayout>
  </ScrollView>
  <!-- Footer: Already have an account? Login -->
  <FlexboxLayout
    row="2"
    justifyContent="center"
    alignItems="center"
    class="pt-1 pb-4"
  >
    <Label text="Bereits ein Konto?" class="text-gray-500 text-sm"></Label>
    <Label
      text=" Hier anmelden"
      class="text-primary text-sm font-semibold hover:underline"
      (tap)="goToLogin()"
    ></Label>
  </FlexboxLayout>
</GridLayout>
