<GridLayout rows="*" class="bg-base-100" iosOverflowSafeArea="false">
  <StackLayout
    row="0"
    verticalAlignment="center"
    horizontalAlignment="center"
    class="flex flex-col items-center justify-center h-full text-center text-gray-400 p-8 bg-base-100"
  >
    <svg:SVGImage
      [src]="icons.ChefHat | svgToDataUri: '#F1F0EE'"
      class="w-20 h-20"
    ></svg:SVGImage>
    <Label class="mt-4 text-xl font-serif font-bold text-neutral"
      >Plane deine Woche</Label
    >
    <Label textWrap="true">
      <FormattedString>
        <Span class="mt-1 text-sm" text="Klicke auf das"></Span>
        <Span class="text-primary font-bold mx-1" text=" + "></Span>
        <Span
          class="mt-1 text-sm"
          text="Symbol, um deinen ersten Essensplan zu erstellen."
        ></Span>
      </FormattedString>
    </Label>
  </StackLayout>
</GridLayout>

<FlexboxLayout
  verticalAlignment="bottom"
  horizontalAlignment="right"
  marginRight="24"
  marginBottom="24"
  class="absolute bottom-6 right-6 w-14 h-14 bg-primary rounded-full flex items-center justify-center text-white shadow-lg transform active:scale-95 transition-transform z-10"
>
  <svg:SVGImage
    [src]="icons.Plus | svgToDataUri: 'white'"
    class="w-7 h-7"
  ></svg:SVGImage>
</FlexboxLayout>
