<GridLayout
  verticalAlignment="center"
  rows="auto,*"
  iosOverflowSafeArea="true"
  class="flex flex-col h-full bg-base-100 no-scrollbar px-6 pt-6"
>
  <!-- Header with back link -->
  <StackLayout row="0" class="mb-6">
    <FlexboxLayout
      flexDirection="row"
      alignItems="center"
      class="gap-2"
      (tap)="goBack()"
    >
      <Label text="←" class="text-neutral text-base mr-1"></Label>
      <Label text="Zurück zum Login" class="text-neutral text-base"></Label>
    </FlexboxLayout>
  </StackLayout>

  <ScrollView row="1">
    <StackLayout class="space-y-4" width="90%" horizontalAlignment="center">
      <Image
        src="~/assets/images/logo.ico"
        class="w-10 h-10 text-primary mx-auto mb-2 mt-2"
      ></Image>

      <!-- Title and description -->
      <Label
        text="Passwort vergessen?"
        class="text-3xl font-serif font-bold text-neutral text-center mt-2"
      ></Label>
      <Label
        text="Kein Problem! Gib deine E‑Mail ein und wir senden dir einen Link zum Zurücksetzen."
        class="text-gray-500 text-center px-2"
      ></Label>

      <!-- Email input -->
      <StackLayout class="mt-2">
        <Label
          class="block text-sm font-bold text-neutral mb-1.5"
          text="E-Mail"
        ></Label>
        <TextField
          class="w-full px-4 py-2.5 bg-base-200 border-2 border-transparent rounded-lg focus:outline-none focus:ring-2 focus:ring-primary transition-all duration-200 text-neutral"
          hint="deine.email@example.com"
          autocapitalizationType="none"
          keyboardType="email"
          returnKeyType="done"
        >
        </TextField>
      </StackLayout>

      <!-- Reset button -->
      <FlexboxLayout
        flexDirection="row"
        justifyContent="center"
        alignItems="center"
        (tap)="resetPassword()"
        class="w-full mt-4 flex items-center justify-center gap-2 bg-primary text-white font-bold py-3 px-4 rounded-2xl hover:bg-primary-focus transition-all duration-300"
      >
        <svg:SVGImage
          [src]="icons.Mail | svgToDataUri: 'white'"
          class="w-5 h-5 mr-2"
        ></svg:SVGImage>
        <Label
          text="Passwort zurücksetzen"
          class="text-white font-bold"
        ></Label>
      </FlexboxLayout>
    </StackLayout>
  </ScrollView>
</GridLayout>
